@tailwind base;
@tailwind components;
@tailwind utilities;

#at-root {
  @apply text-left;
}

html,
body {
  @apply bg-neutral-100 text-black dark:bg-neutral-800 dark:text-white;
}

.anki-field {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    scrollbar-width: none;
  }
}

.prose {
  @apply !max-w-none;
}

.prose,
.rm-prose-y,
div[id^='at-field'] {
  > :first-child {
    @apply !mt-0;
  }

  > :last-child {
    @apply !mb-0;
  }
}

/* cloze styles */

.at-cloze-unit {
  @apply cursor-pointer bg-neutral-200 dark:bg-neutral-600;
}

[data-at-cloze-type='text'] {
  @apply py-px;
}
[data-at-cloze-hide='true'] {
  &[data-at-cloze-type='text'] {
    @apply whitespace-pre;
  }

  &[data-at-cloze-type='whole'] {
    &:not(img) {
      visibility: hidden;
      position: relative;

      &::after {
        visibility: visible;
        content: ' ';
        @apply absolute bottom-0 left-0 right-0 top-0;
        @apply cursor-pointer bg-neutral-200 dark:bg-neutral-600;
      }
    }
  }
}
